html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

header {
  width: 100%;
}

.header .logo {
  display: flex;
  align-items: center;
  width: 960px;
  background-color: black;

}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
